.btn-color{
    background-color: #ffa726 !important;   
}

.btn-color:hover{
    background-color: #ffd055 !important;
}

.register-form{
    min-width: 284px;
}

.error-border{
    border-color: red !important;
}